## Section 2

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 1000)

df = pd.read_csv('Student_Enrollment_Sample.csv', low_memory=False)
print(df.shape)
print(df.isna().sum())
df.head()

(50000, 76)
ADENROLLID                          0
EXPECTED_START_DATE              1870
ORIGINAL_EXPECTED_START_DATE    15929
APPLICATION_RECEIVED_DATE         895
ENROLL_DATE                     15890
START_DATE                      34552
REENTRY_DATE                    49893
GRADUATION_DATE                  1597
MID_DATE                        16200
FA_ENTRY_DATE                   31253
FA_EXIT_DATE                    49726
LDA                             34570
STATUS_DATE                        36
DROP_DATE                       42026
TRANSFER_IN_DATE                50000
ENROLL_COUNT                        0
GPA                                 0
CORE_GPA                            2
GPA_CREDITS                     16065
CUMMULATIVE_GPA_POINTS          16065
NUMBER_AVERAGE                      0
MINUTES_ATTENDED                16286
HOURS_ATTEMPTED                     0
HOURS_EARNED                        0
CREDITS_ATTEMPTED                   0
CREDITS_EARNED                      0
CREDITS_REQUIRED                    0
AR_BALANCE_AMOUNT                   0
MINUTES_ABSENT                  16296
DAYS_ABSENT                         0
MINUTES_MAKEUP                  16296
REENTRY_NUMBER                      0
ADENROLLID.1                        0
NEXUS_ADDED_DATE                    0
NEXUS_LAST_MODIFIED_DATE            0
PROGRAM_VERSION                    13
PROGRAM_GROUP                      13
ENROLLMENT_STATUS                   0
LEAD_DATE                        1322
START_DATE.1                     1430
BIRTH_DATE                       1360
LDA.1                           31823
PREVIOUS_LDA                    44124
LAST_ACTIVITY_DATE               4387
LAST_INTEREST_DATE              50000
LAST_MOD_DATE                    1322
NEXUS_ADDED_DATE.1               1322
GRADUATION_DATE.1                1333
FAFSA_LAST_COMPLETED_DATE       16405
MOD_INDEX                        1323
MOD_NUMBER                       1323
MOD_YEAR                         1323
COHORT_YEAR                      1374
ORIGINAL_COHORT_YEAR            15662
CUMMULATIVE_GPA                 15549
CUMMULATIVE_GPA_POINTS.1        37156
CUMMULATIVE_GPA_CREDITS         37156
AR_BALANCE                       1322
ENROLLMENT_GPA                   1322
CREDITS_ATTEMPTED.1              1322
CREDITS_EARNED.1                 1322
CREDITS_REQUIRED.1               1335
CREDITS_LEFT                     1335
ENROLLMENT_COUNT                 1322
MODS_ATTENDED_COUNT              1322
HS_GRADUATED_FLAG                1322
DISABLED_FLAG                    1322
HISPANIC_FLAG                    1322
VETERAN_FLAG                     1322
LEAD_CREATED_DATE                1642
STATUS_CODE                         0
STATUS_DESCRIPTION                  0
IN_SCHOOL_FLAG                      0
SIMPLE_STATUS_CODE                 34
SIMPLE_STATUS_DESCRIPTION           0
SYSCHOOLSTATUSID                    0
dtype: int64

,ADENROLLID,EXPECTED_START_DATE,ORIGINAL_EXPECTED_START_DATE,APPLICATION_RECEIVED_DATE,ENROLL_DATE,START_DATE,REENTRY_DATE,GRADUATION_DATE,MID_DATE,FA_ENTRY_DATE,...,DISABLED_FLAG,HISPANIC_FLAG,VETERAN_FLAG,LEAD_CREATED_DATE,STATUS_CODE,STATUS_DESCRIPTION,IN_SCHOOL_FLAG,SIMPLE_STATUS_CODE,SIMPLE_STATUS_DESCRIPTION,SYSCHOOLSTATUSID
0,176175,NaN,NaN,2/18/2015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,APPCNL,Application Cancelled,0,O,Other,51
1,146744,NaN,6/30/2014,6/18/2014,6/18/2014,NaN,NaN,2/8/2016,4/20/2015,NaN,...,NaN,NaN,NaN,NaN,APPREC,Applicant,0,O,Other,4
2,160501,NaN,10/20/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,54:08.0,PENDAPP,Pending Applicant - Portal Only,0,O,Other,45
3,177284,NaN,1/26/2015,2/17/2015,2/17/2015,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,03:06.0,APPREC,Applicant,0,O,Other,4
4,161864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,PENDAPP,Pending Applicant - Portal Only,0,O,Other,45

In [2]:
df.EXPECTED_START_DATE.isnull().sum()

1870

In [3]:
df_no_missing = df.copy()

for col in df_no_missing.columns:
    if df_no_missing[col].isnull().sum() > 10000:
        df_no_missing.drop(columns=col, inplace=True)

df_no_missing.dropna(inplace=True)
print(df_no_missing.isna().sum())

df_no_missing.shape

ADENROLLID                   0
EXPECTED_START_DATE          0
APPLICATION_RECEIVED_DATE    0
GRADUATION_DATE              0
STATUS_DATE                  0
ENROLL_COUNT                 0
GPA                          0
CORE_GPA                     0
NUMBER_AVERAGE               0
HOURS_ATTEMPTED              0
HOURS_EARNED                 0
CREDITS_ATTEMPTED            0
CREDITS_EARNED               0
CREDITS_REQUIRED             0
AR_BALANCE_AMOUNT            0
DAYS_ABSENT                  0
REENTRY_NUMBER               0
ADENROLLID.1                 0
NEXUS_ADDED_DATE             0
NEXUS_LAST_MODIFIED_DATE     0
PROGRAM_VERSION              0
PROGRAM_GROUP                0
ENROLLMENT_STATUS            0
LEAD_DATE                    0
START_DATE.1                 0
BIRTH_DATE                   0
LAST_ACTIVITY_DATE           0
LAST_MOD_DATE                0
NEXUS_ADDED_DATE.1           0
GRADUATION_DATE.1            0
MOD_INDEX                    0
MOD_NUMBER                   0
MOD_YEAR                     0
COHORT_YEAR                  0
AR_BALANCE                   0
ENROLLMENT_GPA               0
CREDITS_ATTEMPTED.1          0
CREDITS_EARNED.1             0
CREDITS_REQUIRED.1           0
CREDITS_LEFT                 0
ENROLLMENT_COUNT             0
MODS_ATTENDED_COUNT          0
HS_GRADUATED_FLAG            0
DISABLED_FLAG                0
HISPANIC_FLAG                0
VETERAN_FLAG                 0
LEAD_CREATED_DATE            0
STATUS_CODE                  0
STATUS_DESCRIPTION           0
IN_SCHOOL_FLAG               0
SIMPLE_STATUS_CODE           0
SIMPLE_STATUS_DESCRIPTION    0
SYSCHOOLSTATUSID             0
dtype: int64

(44709, 53)

In [4]:
df = df_no_missing.copy()

# Remove rows with in credits attempted that have 0 credits attempted
df = df[df['CREDITS_ATTEMPTED'] > 0 ]

df['Completion_Rate'] = df.CREDITS_EARNED / df.CREDITS_ATTEMPTED

df

,ADENROLLID,EXPECTED_START_DATE,APPLICATION_RECEIVED_DATE,GRADUATION_DATE,STATUS_DATE,ENROLL_COUNT,GPA,CORE_GPA,NUMBER_AVERAGE,HOURS_ATTEMPTED,...,HISPANIC_FLAG,VETERAN_FLAG,LEAD_CREATED_DATE,STATUS_CODE,STATUS_DESCRIPTION,IN_SCHOOL_FLAG,SIMPLE_STATUS_CODE,SIMPLE_STATUS_DESCRIPTION,SYSCHOOLSTATUSID,Completion_Rate
1914,497597,5/10/2021,4/8/2021,3/24/2024,4/8/2021,1,0.00,0.0,3.000000,150.0,...,0.0,0.0,22:32.0,REENTRY,Re-Enter,0,O,Other,7,0.000000
1918,497634,5/10/2021,4/8/2021,1/28/2024,4/8/2021,1,1.90,0.0,71.666667,200.0,...,0.0,0.0,52:31.0,RESTRT,Re-Start,0,O,Other,70,0.500000
1930,498265,5/10/2021,4/13/2021,3/24/2024,4/13/2021,1,2.64,0.0,71.333333,550.0,...,0.0,0.0,52:19.0,REENTRY,Re-Enter,0,O,Other,7,0.636364
1943,497782,5/10/2021,4/9/2021,4/9/2023,4/9/2021,1,3.55,0.0,90.989167,650.0,...,0.0,0.0,49:45.0,RESTRT,Re-Start,0,O,Other,70,0.923077
1953,498212,5/10/2021,4/13/2021,11/6/2022,4/13/2021,1,3.70,0.0,91.500000,100.0,...,0.0,1.0,22:58.0,RESTRT,Re-Start,0,O,Other,70,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49975,449210,6/22/2020,5/29/2020,5/7/2023,6/22/2020,1,3.94,0.0,98.100000,500.0,...,0.0,0.0,32:27.0,ATT,Active,1,A,Active,13,1.000000
49980,448976,6/22/2020,5/28/2020,5/7/2023,6/22/2020,1,3.85,0.0,95.100000,558.0,...,0.0,0.0,28:31.0,ATT,Active,1,A,Active,13,1.000000
49986,449951,6/22/2020,6/3/2020,6/4/2023,6/22/2020,1,2.96,0.0,84.500000,500.0,...,0.0,0.0,31:10.0,ATT,Active,1,A,Active,13,1.000000
49989,447750,6/22/2020,5/21/2020,7/2/2023,11/11/2020,1,1.28,0.0,46.600000,435.0,...,0.0,0.0,16:39.0,DSMS,Dismissed,0,T,Terminated,57,0.250000
49995,451737,6/22/2020,6/11/2020,9/24/2023,2/18/2021,1,2.07,0.0,73.571429,500.0,...,0.0,0.0,36:49.0,PROB,Probation,1,A,Active,14,0.600000

In [5]:
print(df.STATUS_DESCRIPTION.value_counts())
df['LABEL'] = 0
df

Active                         5732
Drop                           1545
False Re-Enter                  352
Graduate                        314
Active-Pre Grad                 275
Probation                       217
Cancel                          212
Dismissed                       199
False Start                     115
Transfer To Other Program        53
No Show                          33
Re-Start                         31
Re-Enter                         26
Application Cancelled            18
Transfer From Other Program       7
Applicant                         4
Future Start                      3
Name: STATUS_DESCRIPTION, dtype: int64

,ADENROLLID,EXPECTED_START_DATE,APPLICATION_RECEIVED_DATE,GRADUATION_DATE,STATUS_DATE,ENROLL_COUNT,GPA,CORE_GPA,NUMBER_AVERAGE,HOURS_ATTEMPTED,...,VETERAN_FLAG,LEAD_CREATED_DATE,STATUS_CODE,STATUS_DESCRIPTION,IN_SCHOOL_FLAG,SIMPLE_STATUS_CODE,SIMPLE_STATUS_DESCRIPTION,SYSCHOOLSTATUSID,Completion_Rate,LABEL
1914,497597,5/10/2021,4/8/2021,3/24/2024,4/8/2021,1,0.00,0.0,3.000000,150.0,...,0.0,22:32.0,REENTRY,Re-Enter,0,O,Other,7,0.000000,0
1918,497634,5/10/2021,4/8/2021,1/28/2024,4/8/2021,1,1.90,0.0,71.666667,200.0,...,0.0,52:31.0,RESTRT,Re-Start,0,O,Other,70,0.500000,0
1930,498265,5/10/2021,4/13/2021,3/24/2024,4/13/2021,1,2.64,0.0,71.333333,550.0,...,0.0,52:19.0,REENTRY,Re-Enter,0,O,Other,7,0.636364,0
1943,497782,5/10/2021,4/9/2021,4/9/2023,4/9/2021,1,3.55,0.0,90.989167,650.0,...,0.0,49:45.0,RESTRT,Re-Start,0,O,Other,70,0.923077,0
1953,498212,5/10/2021,4/13/2021,11/6/2022,4/13/2021,1,3.70,0.0,91.500000,100.0,...,1.0,22:58.0,RESTRT,Re-Start,0,O,Other,70,1.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49975,449210,6/22/2020,5/29/2020,5/7/2023,6/22/2020,1,3.94,0.0,98.100000,500.0,...,0.0,32:27.0,ATT,Active,1,A,Active,13,1.000000,0
49980,448976,6/22/2020,5/28/2020,5/7/2023,6/22/2020,1,3.85,0.0,95.100000,558.0,...,0.0,28:31.0,ATT,Active,1,A,Active,13,1.000000,0
49986,449951,6/22/2020,6/3/2020,6/4/2023,6/22/2020,1,2.96,0.0,84.500000,500.0,...,0.0,31:10.0,ATT,Active,1,A,Active,13,1.000000,0
49989,447750,6/22/2020,5/21/2020,7/2/2023,11/11/2020,1,1.28,0.0,46.600000,435.0,...,0.0,16:39.0,DSMS,Dismissed,0,T,Terminated,57,0.250000,0
49995,451737,6/22/2020,6/11/2020,9/24/2023,2/18/2021,1,2.07,0.0,73.571429,500.0,...,0.0,36:49.0,PROB,Probation,1,A,Active,14,0.600000,0

In [6]:
df.loc[df['STATUS_DESCRIPTION'] == 'Active', 'LABEL'] = 2
df.loc[df['STATUS_DESCRIPTION'] == 'Active-Pre Grad', 'LABEL'] = 2
df.loc[df['STATUS_DESCRIPTION'] == 'Graduate', 'LABEL'] = 2
df.loc[df['STATUS_DESCRIPTION'] == 'Transfer From Other Program', 'LABEL'] = 2
df.loc[df['STATUS_DESCRIPTION'] == 'Transfer To Other Program', 'LABEL'] = 2
df

,ADENROLLID,EXPECTED_START_DATE,APPLICATION_RECEIVED_DATE,GRADUATION_DATE,STATUS_DATE,ENROLL_COUNT,GPA,CORE_GPA,NUMBER_AVERAGE,HOURS_ATTEMPTED,...,VETERAN_FLAG,LEAD_CREATED_DATE,STATUS_CODE,STATUS_DESCRIPTION,IN_SCHOOL_FLAG,SIMPLE_STATUS_CODE,SIMPLE_STATUS_DESCRIPTION,SYSCHOOLSTATUSID,Completion_Rate,LABEL
1914,497597,5/10/2021,4/8/2021,3/24/2024,4/8/2021,1,0.00,0.0,3.000000,150.0,...,0.0,22:32.0,REENTRY,Re-Enter,0,O,Other,7,0.000000,0
1918,497634,5/10/2021,4/8/2021,1/28/2024,4/8/2021,1,1.90,0.0,71.666667,200.0,...,0.0,52:31.0,RESTRT,Re-Start,0,O,Other,70,0.500000,0
1930,498265,5/10/2021,4/13/2021,3/24/2024,4/13/2021,1,2.64,0.0,71.333333,550.0,...,0.0,52:19.0,REENTRY,Re-Enter,0,O,Other,7,0.636364,0
1943,497782,5/10/2021,4/9/2021,4/9/2023,4/9/2021,1,3.55,0.0,90.989167,650.0,...,0.0,49:45.0,RESTRT,Re-Start,0,O,Other,70,0.923077,0
1953,498212,5/10/2021,4/13/2021,11/6/2022,4/13/2021,1,3.70,0.0,91.500000,100.0,...,1.0,22:58.0,RESTRT,Re-Start,0,O,Other,70,1.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49975,449210,6/22/2020,5/29/2020,5/7/2023,6/22/2020,1,3.94,0.0,98.100000,500.0,...,0.0,32:27.0,ATT,Active,1,A,Active,13,1.000000,2
49980,448976,6/22/2020,5/28/2020,5/7/2023,6/22/2020,1,3.85,0.0,95.100000,558.0,...,0.0,28:31.0,ATT,Active,1,A,Active,13,1.000000,2
49986,449951,6/22/2020,6/3/2020,6/4/2023,6/22/2020,1,2.96,0.0,84.500000,500.0,...,0.0,31:10.0,ATT,Active,1,A,Active,13,1.000000,2
49989,447750,6/22/2020,5/21/2020,7/2/2023,11/11/2020,1,1.28,0.0,46.600000,435.0,...,0.0,16:39.0,DSMS,Dismissed,0,T,Terminated,57,0.250000,0
49995,451737,6/22/2020,6/11/2020,9/24/2023,2/18/2021,1,2.07,0.0,73.571429,500.0,...,0.0,36:49.0,PROB,Probation,1,A,Active,14,0.600000,0

In [8]:
# Itterate through each row

for item, row in enumerate(df.itertuples()) :
    if item < 6:
        print(f'{item}')
        print(row[1])
df

0
497597
1
497634
2
498265
3
497782
4
498212
5
498392

In [7]:
df

,ADENROLLID,EXPECTED_START_DATE,APPLICATION_RECEIVED_DATE,GRADUATION_DATE,STATUS_DATE,ENROLL_COUNT,GPA,CORE_GPA,NUMBER_AVERAGE,HOURS_ATTEMPTED,...,VETERAN_FLAG,LEAD_CREATED_DATE,STATUS_CODE,STATUS_DESCRIPTION,IN_SCHOOL_FLAG,SIMPLE_STATUS_CODE,SIMPLE_STATUS_DESCRIPTION,SYSCHOOLSTATUSID,Completion_Rate,LABEL
1914,497597,5/10/2021,4/8/2021,3/24/2024,4/8/2021,1,0.00,0.0,3.000000,150.0,...,0.0,22:32.0,REENTRY,Re-Enter,0,O,Other,7,0.000000,0
1918,497634,5/10/2021,4/8/2021,1/28/2024,4/8/2021,1,1.90,0.0,71.666667,200.0,...,0.0,52:31.0,RESTRT,Re-Start,0,O,Other,70,0.500000,0
1930,498265,5/10/2021,4/13/2021,3/24/2024,4/13/2021,1,2.64,0.0,71.333333,550.0,...,0.0,52:19.0,REENTRY,Re-Enter,0,O,Other,7,0.636364,0
1943,497782,5/10/2021,4/9/2021,4/9/2023,4/9/2021,1,3.55,0.0,90.989167,650.0,...,0.0,49:45.0,RESTRT,Re-Start,0,O,Other,70,0.923077,0
1953,498212,5/10/2021,4/13/2021,11/6/2022,4/13/2021,1,3.70,0.0,91.500000,100.0,...,1.0,22:58.0,RESTRT,Re-Start,0,O,Other,70,1.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49975,449210,6/22/2020,5/29/2020,5/7/2023,6/22/2020,1,3.94,0.0,98.100000,500.0,...,0.0,32:27.0,ATT,Active,1,A,Active,13,1.000000,2
49980,448976,6/22/2020,5/28/2020,5/7/2023,6/22/2020,1,3.85,0.0,95.100000,558.0,...,0.0,28:31.0,ATT,Active,1,A,Active,13,1.000000,2
49986,449951,6/22/2020,6/3/2020,6/4/2023,6/22/2020,1,2.96,0.0,84.500000,500.0,...,0.0,31:10.0,ATT,Active,1,A,Active,13,1.000000,2
49989,447750,6/22/2020,5/21/2020,7/2/2023,11/11/2020,1,1.28,0.0,46.600000,435.0,...,0.0,16:39.0,DSMS,Dismissed,0,T,Terminated,57,0.250000,0
49995,451737,6/22/2020,6/11/2020,9/24/2023,2/18/2021,1,2.07,0.0,73.571429,500.0,...,0.0,36:49.0,PROB,Probation,1,A,Active,14,0.600000,0

In [23]:
# Itterrows is slightly slower than ittertuples
for i, row in enumerate(df.iterrows()) :
    if i < 6:
        print(row)

(1914, ADENROLLID                            497597
EXPECTED_START_DATE                5/10/2021
APPLICATION_RECEIVED_DATE           4/8/2021
GRADUATION_DATE                    3/24/2024
STATUS_DATE                         4/8/2021
ENROLL_COUNT                               1
GPA                                        0
CORE_GPA                                   0
NUMBER_AVERAGE                             3
HOURS_ATTEMPTED                          150
HOURS_EARNED                               0
CREDITS_ATTEMPTED                         15
CREDITS_EARNED                             0
CREDITS_REQUIRED                        1800
AR_BALANCE_AMOUNT                          0
DAYS_ABSENT                                0
REENTRY_NUMBER                             0
ADENROLLID.1                          497597
NEXUS_ADDED_DATE                     41:58.0
NEXUS_LAST_MODIFIED_DATE             55:21.1
PROGRAM_VERSION              5 Web Design BS
PROGRAM_GROUP                          GAWDB
ENROLLMENT_STATUS                   Re-Enter
LEAD_DATE                           5/2/2019
START_DATE.1                       5/10/2021
BIRTH_DATE                        12/23/1995
LAST_ACTIVITY_DATE                 4/14/2021
LAST_MOD_DATE                       4/8/2021
NEXUS_ADDED_DATE.1                  5/2/2019
GRADUATION_DATE.1                  3/24/2024
MOD_INDEX                                605
MOD_NUMBER                                 5
MOD_YEAR                                2021
COHORT_YEAR                             2026
AR_BALANCE                              83.5
ENROLLMENT_GPA                             0
CREDITS_ATTEMPTED.1                       15
CREDITS_EARNED.1                           0
CREDITS_REQUIRED.1                       180
CREDITS_LEFT                             180
ENROLLMENT_COUNT                           3
MODS_ATTENDED_COUNT                       33
HS_GRADUATED_FLAG                          0
DISABLED_FLAG                              0
HISPANIC_FLAG                              0
VETERAN_FLAG                               0
LEAD_CREATED_DATE                    22:32.0
STATUS_CODE                          REENTRY
STATUS_DESCRIPTION                  Re-Enter
IN_SCHOOL_FLAG                             0
SIMPLE_STATUS_CODE                         O
SIMPLE_STATUS_DESCRIPTION              Other
SYSCHOOLSTATUSID                           7
Completion_Rate                            0
LABEL                                      0
Name: 1914, dtype: object)
(1918, ADENROLLID                      497634
EXPECTED_START_DATE          5/10/2021
APPLICATION_RECEIVED_DATE     4/8/2021
GRADUATION_DATE              1/28/2024
STATUS_DATE                   4/8/2021
ENROLL_COUNT                         1
GPA                                1.9
CORE_GPA                             0
NUMBER_AVERAGE                 71.6667
HOURS_ATTEMPTED                    200
HOURS_EARNED                       100
CREDITS_ATTEMPTED                   20
CREDITS_EARNED                      10
CREDITS_REQUIRED                     0
AR_BALANCE_AMOUNT                    0
DAYS_ABSENT                          0
REENTRY_NUMBER                       0
ADENROLLID.1                    497634
NEXUS_ADDED_DATE               33:05.0
NEXUS_LAST_MODIFIED_DATE       17:20.5
PROGRAM_VERSION              5 Acct BS
PROGRAM_GROUP                    ACACB
ENROLLMENT_STATUS             Re-Start
LEAD_DATE                     6/4/2018
START_DATE.1                 5/10/2021
BIRTH_DATE                   1/17/1996
LAST_ACTIVITY_DATE           4/14/2021
LAST_MOD_DATE                 4/8/2021
NEXUS_ADDED_DATE.1            6/4/2018
GRADUATION_DATE.1            1/28/2024
MOD_INDEX                          605
MOD_NUMBER                           5
MOD_YEAR                          2021
COHORT_YEAR                       2026
AR_BALANCE                      1822.5
ENROLLMENT_GPA                     1.9
CREDITS_ATTEMPTED.1                 20
CREDITS_EARNED.1                    10
CREDITS_REQUIRED.1                 180
CREDITS_LEFT                       170
ENROLLMENT_COUNT                     4
MODS_ATTENDED_COUNT                 44
HS_GRADUATED_FLAG                    0
DISABLED_FLAG                        0
HISPANIC_FLAG                        0
VETERAN_FLAG                         0
LEAD_CREATED_DATE              52:31.0
STATUS_CODE                     RESTRT
STATUS_DESCRIPTION            Re-Start
IN_SCHOOL_FLAG                       0
SIMPLE_STATUS_CODE                   O
SIMPLE_STATUS_DESCRIPTION        Other
SYSCHOOLSTATUSID                    70
Completion_Rate                    0.5
LABEL                                0
Name: 1918, dtype: object)
(1930, ADENROLLID                                           498265
EXPECTED_START_DATE                               5/10/2021
APPLICATION_RECEIVED_DATE                         4/13/2021
GRADUATION_DATE                                   3/24/2024
STATUS_DATE                                       4/13/2021
ENROLL_COUNT                                              1
GPA                                                    2.64
CORE_GPA                                                  0
NUMBER_AVERAGE                                      71.3333
HOURS_ATTEMPTED                                         550
HOURS_EARNED                                            350
CREDITS_ATTEMPTED                                        55
CREDITS_EARNED                                           35
CREDITS_REQUIRED                                       1805
AR_BALANCE_AMOUNT                                         0
DAYS_ABSENT                                               0
REENTRY_NUMBER                                            0
ADENROLLID.1                                         498265
NEXUS_ADDED_DATE                                    17:09.0
NEXUS_LAST_MODIFIED_DATE                            30:06.1
PROGRAM_VERSION              5 Cybersecurity and Networking
PROGRAM_GROUP                                         CSCNB
ENROLLMENT_STATUS                                  Re-Enter
LEAD_DATE                                          3/2/2020
START_DATE.1                                      5/10/2021
BIRTH_DATE                                         7/1/1994
LAST_ACTIVITY_DATE                                4/14/2021
LAST_MOD_DATE                                     4/14/2021
NEXUS_ADDED_DATE.1                                 3/2/2020
GRADUATION_DATE.1                                 3/24/2024
MOD_INDEX                                               605
MOD_NUMBER                                                5
MOD_YEAR                                               2021
COHORT_YEAR                                            2026
AR_BALANCE                                               74
ENROLLMENT_GPA                                         2.64
CREDITS_ATTEMPTED.1                                      55
CREDITS_EARNED.1                                         35
CREDITS_REQUIRED.1                                    180.5
CREDITS_LEFT                                          145.5
ENROLLMENT_COUNT                                          3
MODS_ATTENDED_COUNT                                      12
HS_GRADUATED_FLAG                                         0
DISABLED_FLAG                                             0
HISPANIC_FLAG                                             0
VETERAN_FLAG                                              0
LEAD_CREATED_DATE                                   52:19.0
STATUS_CODE                                         REENTRY
STATUS_DESCRIPTION                                 Re-Enter
IN_SCHOOL_FLAG                                            0
SIMPLE_STATUS_CODE                                        O
SIMPLE_STATUS_DESCRIPTION                             Other
SYSCHOOLSTATUSID                                          7
Completion_Rate                                    0.636364
LABEL                                                     0
Name: 1930, dtype: object)
(1943, ADENROLLID                           497782
EXPECTED_START_DATE               5/10/2021
APPLICATION_RECEIVED_DATE          4/9/2021
GRADUATION_DATE                    4/9/2023
STATUS_DATE                        4/9/2021
ENROLL_COUNT                              1
GPA                                    3.55
CORE_GPA                                  0
NUMBER_AVERAGE                      90.9892
HOURS_ATTEMPTED                         650
HOURS_EARNED                            600
CREDITS_ATTEMPTED                        65
CREDITS_EARNED                           60
CREDITS_REQUIRED                          0
AR_BALANCE_AMOUNT                         0
DAYS_ABSENT                               0
REENTRY_NUMBER                            0
ADENROLLID.1                         497782
NEXUS_ADDED_DATE                    04:25.0
NEXUS_LAST_MODIFIED_DATE            17:23.6
PROGRAM_VERSION              5 Bus Admin BS
PROGRAM_GROUP                         BUBAB
ENROLLMENT_STATUS                  Re-Start
LEAD_DATE                         6/24/2019
START_DATE.1                      5/10/2021
BIRTH_DATE                         5/6/1996
LAST_ACTIVITY_DATE                4/14/2021
LAST_MOD_DATE                     4/12/2021
NEXUS_ADDED_DATE.1                6/24/2019
GRADUATION_DATE.1                  4/9/2023
MOD_INDEX                               605
MOD_NUMBER                                5
MOD_YEAR                               2021
COHORT_YEAR                            2026
AR_BALANCE                            12134
ENROLLMENT_GPA                         3.55
CREDITS_ATTEMPTED.1                      65
CREDITS_EARNED.1                         60
CREDITS_REQUIRED.1                      180
CREDITS_LEFT                            120
ENROLLMENT_COUNT                          4
MODS_ATTENDED_COUNT                      17
HS_GRADUATED_FLAG                         0
DISABLED_FLAG                             0
HISPANIC_FLAG                             0
VETERAN_FLAG                              0
LEAD_CREATED_DATE                   49:45.0
STATUS_CODE                          RESTRT
STATUS_DESCRIPTION                 Re-Start
IN_SCHOOL_FLAG                            0
SIMPLE_STATUS_CODE                        O
SIMPLE_STATUS_DESCRIPTION             Other
SYSCHOOLSTATUSID                         70
Completion_Rate                    0.923077
LABEL                                     0
Name: 1943, dtype: object)
(1953, ADENROLLID                                    498212
EXPECTED_START_DATE                        5/10/2021
APPLICATION_RECEIVED_DATE                  4/13/2021
GRADUATION_DATE                            11/6/2022
STATUS_DATE                                4/13/2021
ENROLL_COUNT                                       1
GPA                                              3.7
CORE_GPA                                           0
NUMBER_AVERAGE                                  91.5
HOURS_ATTEMPTED                                  100
HOURS_EARNED                                     100
CREDITS_ATTEMPTED                                 10
CREDITS_EARNED                                    10
CREDITS_REQUIRED                                1110
AR_BALANCE_AMOUNT                                  0
DAYS_ABSENT                                        0
REENTRY_NUMBER                                     0
ADENROLLID.1                                  498212
NEXUS_ADDED_DATE                             22:42.0
NEXUS_LAST_MODIFIED_DATE                     17:30.7
PROGRAM_VERSION              5 Medical Assisting AOS
PROGRAM_GROUP                                  MSMAA
ENROLLMENT_STATUS                           Re-Start
LEAD_DATE                                  6/29/2020
START_DATE.1                               5/10/2021
BIRTH_DATE                                  3/8/1992
LAST_ACTIVITY_DATE                         4/14/2021
LAST_MOD_DATE                              4/13/2021
NEXUS_ADDED_DATE.1                         6/29/2020
GRADUATION_DATE.1                          11/6/2022
MOD_INDEX                                        605
MOD_NUMBER                                         5
MOD_YEAR                                        2021
COHORT_YEAR                                     2024
AR_BALANCE                                      1031
ENROLLMENT_GPA                                   3.7
CREDITS_ATTEMPTED.1                               10
CREDITS_EARNED.1                                  10
CREDITS_REQUIRED.1                                95
CREDITS_LEFT                                      85
ENROLLMENT_COUNT                                   2
MODS_ATTENDED_COUNT                                6
HS_GRADUATED_FLAG                                  0
DISABLED_FLAG                                      0
HISPANIC_FLAG                                      0
VETERAN_FLAG                                       1
LEAD_CREATED_DATE                            22:58.0
STATUS_CODE                                   RESTRT
STATUS_DESCRIPTION                          Re-Start
IN_SCHOOL_FLAG                                     0
SIMPLE_STATUS_CODE                                 O
SIMPLE_STATUS_DESCRIPTION                      Other
SYSCHOOLSTATUSID                                  70
Completion_Rate                                    1
LABEL                                              0
Name: 1953, dtype: object)
(1983, ADENROLLID                                                    498392
EXPECTED_START_DATE                                        5/10/2021
APPLICATION_RECEIVED_DATE                                  4/14/2021
GRADUATION_DATE                                            3/24/2024
STATUS_DATE                                                4/14/2021
ENROLL_COUNT                                                       1
GPA                                                             2.68
CORE_GPA                                                           0
NUMBER_AVERAGE                                                 72.25
HOURS_ATTEMPTED                                                  200
HOURS_EARNED                                                     150
CREDITS_ATTEMPTED                                                 20
CREDITS_EARNED                                                    15
CREDITS_REQUIRED                                                1800
AR_BALANCE_AMOUNT                                                  0
DAYS_ABSENT                                                        0
REENTRY_NUMBER                                                     0
ADENROLLID.1                                                  498392
NEXUS_ADDED_DATE                                             02:54.0
NEXUS_LAST_MODIFIED_DATE                                     17:34.1
PROGRAM_VERSION              5 Software & Mobile Apps Development BS
PROGRAM_GROUP                                                  CSSMB
ENROLLMENT_STATUS                                           Re-Start
LEAD_DATE                                                  3/30/2020
START_DATE.1                                               5/10/2021
BIRTH_DATE                                                 5/16/1992
LAST_ACTIVITY_DATE                                         4/14/2021
LAST_MOD_DATE                                              4/14/2021
NEXUS_ADDED_DATE.1                                         3/30/2020
GRADUATION_DATE.1                                          3/24/2024
MOD_INDEX                                                        605
MOD_NUMBER                                                         5
MOD_YEAR                                                        2021
COHORT_YEAR                                                     2026
AR_BALANCE                                                      1506
ENROLLMENT_GPA                                                  2.68
CREDITS_ATTEMPTED.1                                               20
CREDITS_EARNED.1                                                  15
CREDITS_REQUIRED.1                                               180
CREDITS_LEFT                                                     165
ENROLLMENT_COUNT                                                   2
MODS_ATTENDED_COUNT                                                5
HS_GRADUATED_FLAG                                                  0
DISABLED_FLAG                                                      0
HISPANIC_FLAG                                                      0
VETERAN_FLAG                                                       0
LEAD_CREATED_DATE                                            39:17.0
STATUS_CODE                                                   RESTRT
STATUS_DESCRIPTION                                          Re-Start
IN_SCHOOL_FLAG                                                     0
SIMPLE_STATUS_CODE                                                 O
SIMPLE_STATUS_DESCRIPTION                                      Other
SYSCHOOLSTATUSID                                                  70
Completion_Rate                                                 0.75
LABEL                                                              0
Name: 1983, dtype: object)